node_modules/

.terraform/

dist/

yarn.lock

.cache/ 

.cache

braindrip-backend/node_modules
braindrip-frontend/node_modules
braindrip-frontend-new/node_modules
braindrip-backend/node_modules
api-gateway/node_modules

terraform/.terraform/

braindrip-frontend/.cache